<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: darkseagreen;
        }
    </style>
</head>
<body>
    <center><h1>Admin Login</h1>
    <hr>
    <form method="post">
        <table border="1">
            <tr>
                <td>
                    <a href="/showAllDestinations">Show All Destinations</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/showAllPackages">Show All Packages</a>
                </td>
            </tr>
            
        <a href="/adminlogout">
        <input type="button" value="Logout"></a> 
        </table>
    </form>
    </center>
</body>
</html>