<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #FFE6E6;
        }
    </style>
</head>
<body>
    <center>
        <form method="post">  
            <h1>Delete Destination </h1>
            <hr>
           <table>
            <tr>
                <td>Are you sure you want to delete this destination?</td>
            <tr>
                <td>
                    <input type="submit" value="Yes" name="action">
                    <input type="submit" value="No" name="action">
                </td>
            </tr>
            </tr>
           </table>
        </form>
    </center>
</body>
</html>