{%extends "user/userHome.html"%}
<center>
{%block content%}
<form method="post">
<div style="margin-left: 140px; margin-right: 140px; margin-top: 120px;">
<p>Welcome to our WonderLust Tourism! We are passionate travelers dedicated to helping you discover the world's most amazing destinations. Our mission is to provide you with accurate, up-to-date information on the best places to visit and explore. From hidden gems to popular hotspots, we offer detailed guides, travel tips, and insider knowledge to make your journey unforgettable. Whether you're planning a weekend getaway or a month-long adventure, our website is your one-stop resource for all things travel. We believe in the joy of discovery and the power of travel to connect people and cultures. Thank you for choosing us to be a part of your travel experiences. Let's explore the world together!
</p>
{%endblock%}
</form>
</div>
</center>