{%extends "user/userHome.html"%}
{%block content%}
<center>
    <div style="margin-left: 140px; margin-right: 140px;">
    <form method="post">
    <table class="table">
        <tr>
            <td>Card No:</td>
            <td><input type="text" name="card_no" class="form-control" required></td>
        </tr>
        <tr>
            <td>Cvv:</td>
            <td>
                <input type="text" name="cvv" class="form-control" required>
            </td>
        </tr>
        <tr>
            <td>Expiry:</td>
            <td>
                <input type="text" name="expiry" class="form-control" required>
            </td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" name="amount" class="form-control" required value="{{session['total']}}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary form-control">Make Payment</button>
            </td>
        </tr>
    </table>
</form>
</div>
</center>
{%endblock%}