{%extends "user/userHome.html"%}
<center>
{%block content%}
<div style="margin-left: 140px; margin-right: 140px; margin-bottom: 20px;">
<table class="table">
    <tr>
        <th>Package ID</th><th>Package Name</th><th>Price</th><th>Image</th><th>Total person</th><th>Total Amount</th>
    </tr>
    {%for item in order_details%}
    <form method="post">
   <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td><img src="{{ url_for('static', filename=item[3])}}" style="height: 50px; width: 50px;" class="img-rounded"></td>
        <td>  
            <input type="text" value="{{item[4]}}" size="1" name="pno" readonly/> 
        </td>
        <td>{{item[5]}}</td>
   </tr>
</form>
    {%endfor%}

    {%for ord in order%}
    <tr>
        <td><b>Order of Date :</b>{{ord[1]}}</td>
        <td><b>Amount :</b>{{ord[2]}}</td>
    </tr>    
    {%endfor%}
</table>
{%endblock%}
</div>
</center>